html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  text-align: center;
  background-color: #dbfbe5;
}

.wrapper {
    width: 300px;
    background-color: #fefcf2;
    margin: auto;
    box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%);
    padding: 10px;
}

.wrapperTwo {
    width: 300px;
    background-color: #fefcf2;
    margin: auto;
    box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%);
    padding: 10px;
    margin-top: 5px;
}



.container {
    min-height: 18px;
    padding: 4px;
    margin: 4px;

    border-radius: 5px;
}


span {
    margin: 5px;
    }

input {

        min-width: 75px;
        padding: 4px;
        margin: 4px;

        border-radius: 5px;
    }

    p {
        margin: 2px;  
    }

table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
    }
th, td:first-child {
        background: #e2e2e2;
        padding: 10px 20px;
    }
th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }
td {
        background: #D8E6F3;
    }
th:first-child, td:first-child {
        text-align: left;
    }